$sm: 600px;
$md: 900px;
$lg: 1200px;

@mixin for-extra-small {
  @media screen and (max-width: $sm-1) {
    @content;
  }
}

@mixin for-medium-up {
  @media screen and (max-width: $md-1) {
    @content;
  }
}

@mixin for-large-up {
  @media screen and (max-width: $lg-1) {
    @content;
  }
}

@mixin for-large-extra {
  @media screen and (min-width: $lg) {
    @content;
  }
}
