@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #ff7f50;
  margin: 8px;

  @include for-medium-up {
    background-color: #8a2be2;
  }

  @include for-large-up {
    background-color: #a61;
  }

  @include for-extra-up {
    background-color: #c47;
  }
}

.container {
  @include for-landscape {
    display: flex;
  }
}
